* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", "sans-serif";
}

.container-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px;
}

input[type="text"] {
    height: 50px;
    width: 400px;
    color: #AAABB2;
    background-color: #FAFAFA;
    font-family: "Nunito", "sans-serif";
    text-align: center;
    font-size: 20px;
    border: 3px solid #A7A7A7;
    border-radius: 2px;
    padding: 10px 10px;
}

input[type="submit"] {
    height: 50px;
    width: 100px;
    color: #FDFDFD;
    background-color: #4A494A;
    font-weight: bold;
    font-family: "Nunito", "sans-serif";
    font-size: 20px;
    border-radius: 2px;
    border: none;
    margin-top: 20px;
}

.display {
    text-align: center;
}